spring:
  neo4j:
    uri: ${NEO4J_URI:bolt://localhost:7687}
    authentication:
      username: ${NEO4J_USER:neo4j}
      password: ${NEO4J_PASSWORD:password}
  application:
    name: social

server:
  port: 8082

management:
  endpoints:
    web:
      exposure:
        include: health,info
